<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1594917008/watchSite/favicon_mhhevh.ico">
    <title>Timeless Watches - Watch Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
   
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <strong>WATCH SHOP</strong>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center text-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="all">All Watches</a>
            <a class="dropdown-item ative" href="#">The Timeless Collection</a>
            <a class="dropdown-item" href="gold">Gold Watches</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class = "Products">
      <div class="container">
	  <h1 class="display-4 text-center">The Timeless Collection</h1><br>
		<div class="dropdown text-center">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a collection
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="all">All Watches</a>
    <a class="dropdown-item" href="gold">Gold Collection</a>
    <a class="dropdown-item active" href="#">The Timeless Collection</a>
  </div>
</div><br>
	<div class = "fourPanelProductRow row">
	  <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000">
		<a class="productLink" href="https://google.com"><img class="watch" src="https://images.pexels.com/photos/277319/pexels-photo-277319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
		<br><br>
		<p><strong>Cosmograph Daytona</strong>
		<br>€9200.00
	  </p></a>
		  </div>
	  <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000">
		<a class="productLink" href="https://google.com"><img class="watch" src="https://images.unsplash.com/photo-1451290173668-9a14beaf714c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1057&q=80">
		<br><br>
		<p><strong>Perpetual</strong>
		<br>€10,500.99
			</p></a>
	  </div>
	  <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000">
		<a class="productLink" href="https://google.com"><img class="watch" src="https://images.unsplash.com/photo-1434056886845-dac89ffe9b56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
		<br><br>
		<p><strong>Braun</strong>
		  <br>€11,500.99
			</p></a>
	 </div>
	  </div>
		  <div class = "fourPanelProductRow row">
	  <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000">
		<a class="productLink" href="https://google.com"><img class="watch" src="https://images.unsplash.com/photo-1451859757691-f318d641ab4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
		<br><br>
		<p><strong>Wellington</strong>
		<br>€25,000.00
	  </p></a>
		  </div>
	  <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000">
		<a class="productLink" href="https://google.com"><img class="watch" src="https://images.pexels.com/photos/125779/pexels-photo-125779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
		<br><br>
		<p><strong>Greyscale</strong>
		<br>€30,000.99
			</p></a>
	  </div>
	  <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000">
		<a class="productLink" href="https://google.com"><img class="watch" src="https://images.unsplash.com/photo-1542496658-e33a6d0d50f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
		<br><br>
		<p><strong>Explorer</strong>
		  <br>€35,000.00
			</p></a>
	 </div>
	  </div>
		  
	</div>

  </section>



<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class = "container">
  <div class="row">
    <div class="col-12 col-md">
    <p class="d-block mb-3">&copy; Watch Shop 2020</p>
    </div>
    <div class="col-6zxz col-md">
      <h5>Quick Links</h5>
      <ul class="list-unstyled">
        <li><a class="footerLinks" href="#">Search</a></li>
        <li><a class="footerLinks" href="/all">Shop</a></li>
        <li><a class="footerLinks" href="/contact">Contact</a></li>
      </ul>
    </div>
    <!--<div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>-->
    <div class="col-6 col-md">
      <h5>Subscribe to our Newsletter</h5>
      <form class="form-inline">
        <div class="form-group">
          <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
        </div>
        <button type="submit" class="btn btn-dark mb-2">Enter</button>
      </form>
    </div>
  </div>
</div>
</footer>

        
<script src="script.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>

</body>
</html>