<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1594917008/watchSite/favicon_mhhevh.ico">
    <title>Wellington - Watch Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
   
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
	  <a class="navbar-brand" href="home"><strong>WATCH SHOP</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center text-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item active" href="all">All Watches</a>
            <a class="dropdown-item" href="timeless">The Timeless Collection</a>
            <a class="dropdown-item" href="gold">Gold Watches</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class = "watchOverview">
      <div class="container">
<div class = "firstWatchRow row" data-aos="fade-up" data-aos-duration="1000">

  <div class="col-lg-6">
	<img class="watch" src="https://images.unsplash.com/photo-1451859757691-f318d641ab4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
  </div>
        
  <div class="col-lg-6" >
	<p class="aboutUsText"><strong>Wellington</strong></p>
	€25,000.00
	<p class="aboutUsText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus a iste beatae facilis! A autem dolor nostrum, ut, harum quas quidem sequi suscipit nobis quos cumque error praesentium aliquid. Sapiente.
	  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni non accusantium nobis magnam qui id quos voluptas quisquam facilis at! Sit dolorum magni eum quasi itaque sint natus. Sequi, sunt.</p>
	  <a href="#"><button class="firstWatchButton" type="button"><strong>ADD TO CART</strong></button></a>
	</div>
  </div>
</div>
  </section>



<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class = "container">
  <div class="row">
    <div class="col-12 col-md">
    <p class="d-block mb-3">&copy; Watch Shop 2020</p>
    </div>
    <div class="col-6zxz col-md">
      <h5>Quick Links</h5>
      <ul class="list-unstyled">
        <li><a class="footerLinks" href="#">Search</a></li>
        <li><a class="footerLinks" href="/all">Shop</a></li>
        <li><a class="footerLinks" href="/contact">Contact</a></li>
      </ul>
    </div>
    <!--<div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>-->
    <div class="col-6 col-md">
      <h5>Subscribe to our Newsletter</h5>
      <form class="form-inline">
        <div class="form-group">
          <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
        </div>
        <button type="submit" class="btn btn-dark mb-2">Enter</button>
      </form>
    </div>
  </div>
</div>
</footer>

        
<script src="script.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>

</body>
</html>